.team-section {
    padding: 10px 10px;
    text-align: center;
    font-family: "fellEnglish", monospace; 
}
  
.team-section h2 {
    margin-bottom: 5px;
    font-size: xx-large;
    color: #000000;
    background-image: url('../../src/assets/pieces/vertical_scroll_00_transparent.svg');
    background-size: contain;
    background-position: center -12px;
    background-repeat: no-repeat;
    padding: 50px 15px;
}
  
.team-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 2fr));
    /* gap: 0px;
    margin: 0 auto; */
}
  
.team-card {
    text-decoration: none;
    color: #000000;
    cursor: pointer;
    transition: transform 0.3s ease;
    padding: 10px;
    border-radius: 5px;
}
  
.team-card:hover {
    transform: translateY(-5px);
}
  
.team-image-container {
    position: relative;
    width: 180px;
    height: 180px;
    margin: 0 auto 0;
    overflow: visible;
    display: flex;
    align-items: center;
    justify-content: center;
}

.team-emblems {
    width: 180px;
    height: 180px;
    object-fit: contain;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
}
  
.team-image {
    width: 90px;
    height: 90px;
    object-fit: cover;
    border-radius: 50%;
    position: absolute;
    top: 54%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    /* box-shadow: 0 0 5px rgba(0, 255, 255, 0.5); */
}
  
.team-image.hover {
    opacity: 0;
    z-index: 2;
    /* box-shadow: 0 0 5px rgba(0, 255, 255, 0.5); Add glow effect on hover image */ 
}
  
.team-card:hover .team-image.hover {
    opacity: 1;
}
  
.team-card:hover .team-image.default {
    opacity: 0;
}

.team-info {
    color: #000000;
    background-image: url("../../src/assets/pieces/vertical_scroll_00_transparent.svg");
    background-size: contain; 
    background-position: center -12px;
    background-repeat: no-repeat;
    padding: 15px 5px;
}

.team-info h3 {
    margin: 5px 0px;
    font-size: medium;
}
  
.team-info p {
    font-size: small;
}