.about {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #2b1d0e;
  margin: 0;
  padding-top: 2px;
}

.about-title {
  font-size: clamp(1.5rem, 4vw, 1.7rem);
  margin: -0.1rem 0 0.1rem 0;
  line-height: 1.1;
  padding-bottom: 1rem;
}

.about-text {
  margin: 0;
  max-width: 65ch;
  padding: 0.5vw 5vw 0.5vw 5vw;
  font-size: 1.5rem;
  line-height: 1.5;
}

@media (min-width: 1201px) and (max-width: 1350px) {
  .about-text {
    font-size: 1.25rem;
    line-height: 1.5;
  }
}
/* for mobile */
@media (min-width: 650px) and (max-width: 1200px) {
  .overlay--about {
    place-items: start center;
    padding-top: 3vw;
  }

  .about {
    padding: clamp(2vw, 5vw, 10px) 2vw;
  }

  .about-title {
    margin: 0 0 -0.5rem 0;
    padding-bottom: 1rem;
    line-height: 1.2;
  }

  .about-text {
    font-size: clamp(0.95rem, 1.05vw, 1.1rem);
    line-height: 1.5;
  }
}


/* for phone */
@media (min-width: 551px) and (max-width: 650px) {

  .about-title {
    font-size: clamp(1rem, 5vw, 10rem);
    line-height: 1;
  }

  .about-text {
    font-size: clamp(0.8rem, 2.2vw, 0.95rem);
    line-height: 1.1;
  }
}


/* for phone */
@media (max-width: 550px) {
  .overlay--about {
    place-items: start center;
    padding-top: 0;
  }

  .about {
    padding: 1rem 1rem;
  }

  .about-title {
    font-size: clamp(1rem, 5vw, 10rem);
    margin: 0.8rem 0 -0.8rem 0;
    line-height: 1;
  }

  .about-text {
    font-size: clamp(2px, 5vw, 10px);
    line-height: 1.1;
  }
}

/* for smaller phone */
@media (max-width: 360px) {
  .about {
    padding: 0.5rem 0.2rem;
  }

  .about-title {
    font-size: clamp(1rem, 5vw, 10rem);
    margin: 0.25rem 0 -0.25rem 0;
    line-height: 1;
  }

  .about-text {
    font-size: clamp(2px, 5vw, 10px);
    line-height: 1.1;
  }
}