.about {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  

  text-align: center;
  padding: 4rem 4.5rem;

  font-family: "fellEnglish", monospace;
  color: #2b1d0e;
}

/* Title */
.about-title {
  font-size: clamp(1.5rem, 4vw, 1.7rem);
  margin: 0 0 0 0;
  line-height: 0;
}

/* Paragraph */
.about-text {
  font-size: clamp(0.8rem, 1.6vw, 1.2rem);
  line-height: 1.5;
  margin-bottom: 4rem;
  max-width: 65ch;
}

/* Mobile */
@media (max-width: 768px) {
  .about {
    margin: -1rem 0 0 0;
    padding: 2.5rem 1rem;
  }
  .about-title {
    margin: -0.8rem 0 0 0;
  }
  .about-text {
    font-size: 0.7rem;
    line-height: 1.1;
  }

}
